.jumbotron {
    background-image: url("https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?cs=srgb&dl=forest-haze-landscape-39811.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 200px;
    height: 300px;
    color: aliceblue
    
}
.text-white {
    color: white;
    font-size: 24px;
    
}
.navbar {
    padding-bottom: 50px;
    font-size: 24px;
    
}
.nav-link {
    color: aliceblue;
}

#carouselExampleFade {
    width: 30%;
    height: 30%;
    margin-right: auto;
    margin-left: auto;
}